button {
    background-color: white;
    border: 2px yellow solid;
    height: 100px;
    width: 100px;
}

button:active {
    background-color: red;
}

button:hover {
    background-color: orange;
}